[Unit]
Description=Wistar
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/wistar/wistar-master/manage.py runserver 0.0.0.0:{{ wistar_port }}

[Install]
WantedBy=multi-user.target